{% extends 'front/base.html.twig' %}


{% block title %}
   chez wam
{% endblock %}


{% block body %}

    <h1 class="text-center">Examen API</h1>
<p>blablabla page d'accueil blablabla</p>

{% endblock %}